
<div class="body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <app-sidebar></app-sidebar>
  </aside>
  <!-- partial -->
  <div class="main-wrapper mdc-drawer-app-content">
    <!-- partial:partials/_navbar.html -->
    <app-navbar></app-navbar>
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <app-content></app-content>
      <!-- partial:partials/_footer.html -->
      <app-footer></app-footer>
      <!-- partial -->
    </div>
  </div>
</div>
